# Archivos y carpetas de Go
bin/
vendor/
*.exe
*.test
*.out

# Archivos de configuración y logs
*.env
*.log

# Archivos del sistema y editor
.DS_Store
.idea/
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
terraform.tfvars
override.tf
override.tf.json
*.tfplan
.terraform.lock.hcl